.main {
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    transition: 300ms ease;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    cursor: pointer;

}

.btn p {
    font-weight: 550;
}

.btn p:hover {
    font-weight: 400;
}

.btn:hover {
    color: #917D7D;
    border: 1px solid #917D7D;
}